pysam==0.8.4
openpyxl
pip
pydotplus
click
multiqc
genomicassertions>=0.2.5

git+https://github.com/dakl/localq.git
git+https://github.com/ClinSeq/pypedream.git
git+https://github.com/ClinSeq/reportgen.git
git+https://github.com/ClinSeq/referral-manager.git

