openpyxl
pip
pymongo
pydotplus
jsonschema
click
git+https://github.com/dakl/localq.git
git+https://github.com/dakl/genomicassertions.git
git+https://github.com/ClinSeq/pypedream.git
git+https://github.com/ClinSeq/reportgen.git
git+https://github.com/ClinSeq/referral-manager.git
multiqc

